.conatiner-main-artist{
    /* border:1px solid blue; */
    width:80vw;
    margin:auto
}
.musicAlbumName{
    font-size:2.5rem;
    
}
.songName{
    display:grid;
    grid-template-columns: 50% 50% ;
    font-size: 1.5em;
    /* border:1px solid black; */
    
}
.songName >div{
    width:50%;
    margin:auto;
    /* height:10px; */
    /* border:1px solid black */
}
.coverphotoName{
    width:25vw;
}