.Cards{
    display: flex;
    flex-direction: column;
    border: 1px solid #ffff;
    width: 337px;
    height: 450px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #BDC3C7;
    border-radius: 15px;
    margin-left: 142px;
    box-shadow: 10px 5px 5px  #2C3E50;
}
.Album-pic{
      width: 76%;
      height: 40%;
      /* border: 1px solid red; */
      margin: 0 auto;
}

.Album-pic>div{
    width:80%;
    height: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Album-pic>div>img{
    border-radius: 70%;
    width: 80%;
    height: 95%;
}
.card-details{
    color: #2C3E50;
    height:50%;
    margin-top: 1.2rem;
}
